body{
    background-color: #57b2af;
}
.side-nav{
    background-color: #88d4d1;
    width: 15%;
    float: left;
    height: 110vh;
    padding: 20px 10px;
    overflow-wrap: break-word;
}
.side-nav a{
    color: #333;
    background-color: #57B2AF;
    display: block;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}
.side-nav a:hover{
    background-color: #359692;
    color: whitesmoke;
}
.chart{
    margin-top: 20px;
}
#myChart{
    margin: 0 auto;
    background-color: aliceblue;
}
.selected:link,
.selected:visited{
    color: whitesmoke;
    background-color: #0D6E6B;
}
#filter{
    margin: 20px 0px;
    text-align: center;
}
#filter label{
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}
#date,
#rate{
    height: 30px;
    width: 150px;
    outline: none;
    border: 2px solid #333;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}
#text{
    text-align: center;
    font-size: 16px;
    display: inline-block;
    background-color: white;
    text-align: left;
    padding: 10px;
    margin-left: 50px;
}
#text b{
    font-size: 18px;
}
#catA,
#catB{
    color: #04b1f0;
    font-weight: bold;
    font-size: 18px;
}
#catC{
    color: #fedf17;
    font-weight: bold;
    font-size: 18px;
}
#catD{
    color: #c30505;
    font-weight: bold;
    font-size: 18px;
}
#total{
    background-color: aliceblue;
    padding: 12px 20px;
    border-radius: 15px;
    margin-left: 50px;
    outline: 3px solid #333;
}
.rate{
    margin-left: 50px;
}
