body{
    background-color: #57b2af;
}
.right{
    background-color: #88d4d1;
    padding: 10px;
    position: absolute;
    left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.3s;
    margin-top: 10px;
    padding-left: 50px;
}
.moveRight{
    background-color: #57b2af;
}
.right img{
    width: 50px;
    height: 50px;
}
.right:hover{
    cursor: pointer;
    background-color: #0D6E6B;
    padding-left: 100px;
}
.side-nav{
    background-color: #88d4d1;
    width: 15%;
    float: left;
    padding: 100px 10px 0px 10px;
    left: 0px;
    transform: translateX(-800px);
    transition: 0.5s;
    overflow-wrap: break-word;
    position: absolute;
}
.showSideNav{
    transform: translateX(0px);
}
.side-nav a{
    color: #333;
    background-color: #57B2AF;
    display: block;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}
.side-nav a:hover{
    background-color: #359692;
    color: whitesmoke;
}
.chart{
    margin-top: 20px;
}
#myChart{
    margin: 0 auto;
    background-color: aliceblue;
}
.selected:link,
.selected:visited{
    color: whitesmoke;
    background-color: #0D6E6B;
}
#filter{
    margin: 20px 0px;
    text-align: center;
}
#filter label{
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}
#date,
#rate,
#year{
    height: 30px;
    width: 150px;
    outline: none;
    border: 2px solid #333;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}
#rate{
    cursor: text;
}
#text{
    text-align: center;
    font-size: 16px;
    display: inline-block;
    background-color: white;
    text-align: left;
    padding: 10px;
    margin-bottom: 50px;
    width: 70%;
}
.center{
    text-align: center;
}
#text b{
    font-size: 18px;
}
#catA,
#catB{
    color: #04b1f0;
    font-weight: bold;
    font-size: 18px;
}
#catC{
    color: #fedf17;
    font-weight: bold;
    font-size: 18px;
}
#catD{
    color: #c30505;
    font-weight: bold;
    font-size: 18px;
}
#total{
    background-color: aliceblue;
    padding: 12px 20px;
    border-radius: 15px;
    margin-left: 50px;
    outline: 3px solid #333;
}
.rate{
    margin-left: 50px;
}
.medError{
    color: #627331;
    font-weight: bold;
    font-size: 18px;
}
#targetRate{
    font-weight: bold;
    font-size: 18px;
}
table, th, td{
    border: 2px solid #333;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin: 15px auto;
    margin-bottom: 50px;
}
.table10c th,
.table10c tr .totalMedError{
    background-color: #a6a6a6;
    font-weight: bold;
}
.table10c td{
    background-color: aliceblue;
}
#yearSelected{
    font-size: 26px;
}
tr .totaltype{
    background-color: #c3d69b;
}
tr #totalMedError{
    background-color: #77933c;
    font-weight: bold;
}
tr .subtotal{
    background-color: #0070c0;
    font-weight: bold;
}
#noData tr td{
    font-weight: bold;
    font-size: 24px;
}
.table11a, .table11a th, .table11a td{
    background-color: aliceblue;
    padding: 5px;
}
#emptyCell{
    background-color: #57b2af;
    border-top: 2px solid #57b2af;
    border-left: 2px solid #57b2af;
}
.field{
    text-align: left;
}
.tableInput{
    width: 60px;
    outline: none;
    border: 2px solid #333;
    cursor: text;
    padding: 5px;
    font-weight: bold;
}
.doughnut{
    display: flex;
}
.chart-grid{
    width: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-bottom: 30px;
}
#myChart1,
#myChart2,
#myChart3,
#myChart4{
    background-color: aliceblue;
}
.chart11b, .chart11b th, .chart11b td{
    border: 2px solid aliceblue;
    background-color: aliceblue;
}
.chart11b{
    display: inline-block;
}
.align-left{
    text-align: left;
}
#major td, #moderate td, #minor td{
    padding: 5px;
}
.chart11b th{
    background-color: #4f81bd;
    color: white;
}
.charttitle{
    font-weight: bold;
    font-size: 24px;
}
.chartsubtitle{
    font-size: 24px;
}
.box{
    border: 3px solid orange;
    display: inline-block;
    padding: 8px;
}