.profile{
    text-align: center;
    background-color: lightcoral;
}
.delete,
.change-password{
    padding: 20px;
    background-color: bisque;
    display: inline-block;
    transition: 0.3s;
}
.delete:hover,
.change-password:hover{
    background-color: lightblue;
    color: white;
}
