body{
    background-color: #57b2af;
}
.profile{
    text-align: center;
    margin-top: 30px;
    background-color: #8BD4D1;
    margin: 60px 250px 0px 250px;
    padding: 20px;
    border-radius: 20px;
}
.update,
.delete,
.change-password{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}
.delete{
    background-color: rgb(246, 99, 99);
}
.delete:hover{
    color: white;
    background-color: rgb(215, 54, 54);
    transform: scale(1.1);
}
.change-password{
    background-color: #57B2AF;
    border: none;
    width: 200px;
    margin-bottom: 20px;
}
.change-password:hover{
    color: white;
    background-color: #359692;
}
.hide-field{
    display: none;
}
.show-field{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 200px;
}
.show-field label{
    text-align: left;
    transform: translateX(-53px);
}
.form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.editform label{
    display: inline-block;
    width: 160px;
    font-weight: bold;
    text-align: left;
}
.editform input,
.editform select{
    width: 200px;
    margin-bottom: 10px;
    outline: none;
    padding: 5px;
}
.editform select{
    width: 210px;
}
#message{
    position: absolute;
    user-select: none;
    margin-left: 10px;
    font-weight: bold;
}
.alert{
    background-color: #57b2af;
}
.alert-title{
    padding: 10px 20px;
    width: 50%;
    margin: 0 auto;
    background-color: #2e4450;
    color: whitesmoke;
    user-select: none;
    font-weight: bold;
    font-size: 20px;
}
.alert-msg{
    padding: 20px ;
    width: 50%;
    margin: 0 auto;
    background-color: #527c88;
    color: whitesmoke;
    user-select: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.error{
    color: #ff3c3c;
}
.userlogo{
    width: 100px;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 20px;
}
.update{
    background-color: rgb(84, 216, 84);
    border: none;
    margin-left: 30px;
    margin-top: 30px;
    height: 40px;
}
.update:hover{
    background-color: rgb(66, 168, 66);
    color: white;
    transform: scale(1.1);
}