body{
    background-color: #57b2af;
}
.alert-msg{
    color: orange;
    margin-left: 20px;
    font-weight: normal;
    font-size: 14px;
}
.ehortitle{
    width: 100%;
    margin: 0 auto;
    color: white;
    user-select: none;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px 20px 0px;
}
.location{
    width: 80%;
    margin: 0 auto;
    outline: 4px solid #333;
}
.location-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #2e4450;
    outline: 4px solid transparent;
}
.location-grid2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #2e4450;
    outline: 4px solid transparent;
}
.location-title{
    margin: 0 auto;
    width: 80%;
    background-color: #2e4450;
    color: whitesmoke;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 20px;
    border: 4px solid #333;
}
.addfield{
    padding-left: 20px;
}
.location-grid div{
    text-align: center;
    transition: 0.3s;
}
.location-grid div:hover{
    background-color: #527c88;
}
.newlocation,
.location-grid div input{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffe3d6;
    border: none;
    outline: none;
    font-size: 14px;
    margin-left: 10px;
    transform: translateY(-6px);
}
.deleteBtn img{
    width: 30px;
    background-color: rgb(246, 99, 99);
    border-radius: 10px;
    transition: 0.3s;
    transform: translateY(4px);
}
.deleteBtn img:hover{
    background-color: rgb(215, 54, 54);
}
.addBtn{
    border: none;
    height: 30px;
    background-color: transparent;
    transform: translate(2px,4px);
    cursor: pointer;
    margin-left: 10px;
}
.addBtn img{
    width: 30px;
    background-color: #6eff6e;
    border-radius: 10px;
    transition: 0.3s;
}
.addBtn img:hover{
    background-color: rgb(23, 197, 23);
}
.site,
.type{
    margin-top: 20px;
}
.filter{
    border-top: none;
}
.selectType{
    padding: 0px 20px;
}
.selectType input{
    cursor: pointer;
}
.selectType label{
    user-select: none;
    margin-right: 20px;
}
.filterBtn{
    padding: 5px 10px;
    border: none;
    background-color: #2e4450;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.3s;
}
.filterBtn:hover{
    background-color: rgb(98, 152, 185);
    color: white;
}
.typeinfo{
    color: orange;
    font-weight: bold;
}
.addfield select{
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
    transform: translateY(-5px);
    padding: 5px;
    border-radius: 10px;
    background-color: #ffe3d6;
    cursor: pointer;
}
.toggleBtn{
    /* background-color: #ffe3d6; */
    background-color: aliceblue;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    width: 400px;
    transition: 0.3s;
    margin: 20px 10px;
    border: 1px solid #000000;
}
.toggleBtn:hover{
    color: white;
    background-color: #d7baad;
    border: 1px solid #000000;
}
.btn{
    display: flex;
    justify-content: center;
}
.typeTable{
    margin: 0 auto;
}
th{
    padding: 10px 20px;
    user-select: none;
    background-color: aliceblue;
}
td{
    padding: 5px 15px;
    user-select: none;
    background-color: aliceblue;
}
.tablehead th{
    background-color: #88d4d1;
    color: #333;
}
.tablehead input{
    padding: 10px;
    border-radius: 15px;
    border: none;

}
.tablehead select, .tablerow input:not([type="submit"]),.tablerow select{
    border-radius: 15px;
    padding: 10px;
    border: none;
    width: 100%;
}
.spacing{
    margin-right: 10px;
}
.tablerow:hover > td{
    background-color: #527c88;
    color: whitesmoke;
}
.update,
.delete{
    background-color: #88d4d1;
}
.updatebtn{
    font-size: 16px;
    border: none;
}
.update,
.delete{
    font-weight: bold;
    transition: 0.5s;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.update:hover{
    color: white;
    background-color: #57b2af;
    /* background-color: darkorange; */
}
.delete:hover{
    color: white;
    background-color: #57b2af;
    /* background-color: rgb(215, 54, 54) */
}
.add{
    font-weight: bold;
    transition: 0.5s;
    padding: 10px 30px;
    width: 120px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #6eff6e;
}
.add:hover{
    color: white;
    background-color: rgb(23, 197, 23);
}
