body{
    background-color: #57b2af;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    margin: 70px 200px;
}
.griditem{
    background-color: #8BD4D1;
    padding: 50px 0px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 30px;
    background: linear-gradient(to left, #8BD4D1 50%, #359692 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
}
.griditem:hover{
    color: white;
    background-position: left;
}
.chart,
.manage,
.setting,
.view{
    width: 100px;
    transition: 0.3s;
}
.griditem:hover > .chart,
.griditem:hover > .manage,
.griditem:hover > .setting,
.griditem:hover > .view{
    transform: scale(1.2);
}