body{
    background-color: #57b2af;
    text-align: center;
}
.userlogo{
    width: 100px;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 20px;
}
.profile{
    background-color: #ffe3d6;
    margin-top: 50px;
    display: inline-block;
    width: 1000px;
    padding: 20px;
    border-radius: 20px;
}
.profile label{
    text-align: right;
    display: inline-block;
    width: 200px;
    margin-right: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.profile span{
    width: 200px;
    display: inline-block;
    text-align: left;
    font-size: 18px;
}
.edit-profile{
    padding: 10px 40px;
    background-color: rgb(251, 189, 76);
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 20px;
    transition: 0.3s;
}
.edit-profile:hover{
    background-color: darkorange;
    color: white;
}
