body{
    background-color: #16c2d5;
}
.table-title{
    background-color: #2e4450;
}
th{
    padding: 10px 20px;
    user-select: none;
    background-color: aliceblue;
}
td{
    padding: 5px 15px;
    user-select: none;
    background-color: aliceblue;
}
.users{
    text-align: center;
    margin: 0 auto;
}
.alert{
    background-color: #16c2d5;
}
.alert-title{
    padding: 10px 20px;
    width: 50%;
    margin: 0 auto;
    background-color: #2e4450;
    color: whitesmoke;
    user-select: none;
    font-weight: bold;
    font-size: 20px;
}
.alert-msg{
    padding: 20px ;
    width: 50%;
    margin: 0 auto;
    background-color: #527c88;
    color: whitesmoke;
    user-select: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.edit{
    background-color: rgb(248, 196, 99);
}
.delete{
    background-color: rgb(246, 99, 99);
}
.edit,
.delete{
    font-weight: bold;
    transition: 0.5s;
    display: block;
    padding: 10px 20px;
    width: 50px;
    border-radius: 20px;
}
.edit:hover{
    color: white;
    background-color: darkorange;
}
.delete:hover{
    color: white;
    background-color: rgb(215, 54, 54)
}
.tablehead th{
    background-color: #527c88;
    color: whitesmoke;
}
.tablerow:hover > td{
    background-color: #527c88;
    color: whitesmoke;
}
.toggleBtn{
    background-color: #ffe3d6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    width: 400px;
    transition: 0.3s;
    margin-top: 20px;
}
.toggleBtn:hover{
    color: white;
    background-color: #d7baad;
}
.createuser{
    background-color: #16c2d5;
    text-align: center;
}
.hide-form{
    display: none;
    background-color: #d7baad;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    border-radius: 20px;
}
.form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin-bottom: 20px;
}
.hide-form label{
    display: inline-block;
    width: 210px;
    color: #333;
    text-align: left;
    font-weight: bold;
}
.hide-form input,
.hide-form select{
    width: 200px;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
}
.hide-form select{
    width: 210px;
}
.show-form{
    display: block;
}
.createBtn{
    font-weight: bold;
    margin-top: 16px;
    font-size: 20px;
    background-color: #6eff6e;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.createBtn:hover{
    background-color: rgb(23, 197, 23);
    color: whitesmoke;
}
.error{
    color: #ff3c3c;
}
#message{
    transform: translate(30px);
    user-select: none;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    border-radius: 15px;
    width: 200px;
}
.search-field{
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin: 3px 20px 0px 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: whitesmoke;
}
.findBtn{
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #ffe3d6;
    cursor: pointer;
    transition: 0.3s;
}
.findBtn:hover{
    color: white;
    background-color: #d7baad;
}
.noUser{
    color: whitesmoke;
    background-color: rgb(255, 71, 71);
}